


<style>
    #background {
        background-image: url(../images/login2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 219%;
    }
</style>

        @{
            Layout = "../Shared/_layoutLogin.cshtml";



     



        }





        <h2>
            Parabens sua conta foi criada com sucesso!
            clique <a href="../Usuario/Login"> aqui </a> para efetuar login no sistema
        </h2>

