
@{
    ViewData["Title"] = "Index";
}

    <div>


        <table class="table table-bordered">
            <thead>
                <center><h3><b>ESTOQUES</b></h3></center>
                <br />
                <br />
            <th>#</th>
            <th>PEÇA</th>
            <th>QUANTIDADE</th>

            </thead>
            @{ foreach (var item in (List<EstoqueModel>)ViewBag.ListaEstoque)
                {
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.IdEstoque.ToString())">EXCLUIR</button></td>
                            


                            <td>@item.Equipamentos.ToString()</td>
                            <td>@item.Quantidade</td>



                        </tr>
                    </tbody>
                }


            }


        </table>


        <script>



            function Excluir(IdEstoque) {
                window.location.href = "../Home/ExcluirEstoque/" + IdEstoque;

            }
        </script>


       >



        @model EstoqueModel

        <br />
        <br />
        <br />
        <br />
        <br />

        <form asp-controller="Home" asp-action="NovoEstoque">
            <div class="form-group">
                <label>Peça estoque</label>
                <input type="text" class="form-control" asp-for="Equipamentos">
                <span asp-validation-for="Equipamentos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Quantidade</label>
                <input type="number" class="form-control" asp-for="Quantidade">
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-block btn-success">Registrar</button>

        </form>



    </div>