@{
    ViewData["Title"] = "Menu";
}
    <body id="Menu">
        <h2>Olá Bem vindo </h2>
        <br />
        <br />
        <div class="row">

            <a href="../Cliente/Index">
                <div class="col-lg-4 text-center">

                    <img src="~/images/AddCliente.png" width="100px" />
                    <h3><b>Novo Cliente</b></h3>


                </div>
            </a>

            <a href="../Veiculo/Index">
                <div class="col-lg-4 text-center">
                    <br />
                    <img src="~/images/Carro1.png" width="150px" />
                    <h3><b>Cadastrar Veiculo</b></h3>

                </div>
            </a>
            <a href="../serviço/Index">
                <div class="col-lg-4 text-center">

                    <img src="~/images/Serviço.png" width="110px" />
                    <h3><b>Cadastrar Serviços</b></h3>

                </div>
            </a>
            <a href="../Cliente/Relatorio">
                <div class="col-lg-4 text-center">
                    <br />
                    <br />
                    <br />
                    <img src="~/images/Relatorio.png" width="120px" />
                    <h3><b>Gerar Relatório</b></h3>

                </div>
            </a>





        </div>
        <style>
            #Menu {
                background-image: url(../images/menu7.jpg);
                background-repeat: no-repeat;
                background-size: 100% 160%;
            }
        </style>

    </body>